<h1>Welcome, {{username}}!</h1>

<h2>Create a new bill</h2>
<form>
  <div class="form-group">
    <label for="title">Bill title</label>
    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="title" required>
  </div>
  <div class="form-group">
    <label for="value">Bill value (moneys)</label>
    <input type="text" id="value" name="value" class="form-control" [(ngModel)]="value" required>
  </div>
  <div class="form-group">
    <label for="friend">Choose a friend you want to split the bill with: </label>
    <select class="form-control" id="friend" name="friend" [(ngModel)]="selectedFriend" required>
      <option *ngFor="let user of users" [value]="user.username">{{user.username}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Choose a friend you want to split the bill with: </label>
    <mat-slider [min]="1" [max]="100" [thumbLabel]="true" name="percent" [(ngModel)]="percent"></mat-slider>
  </div>

  <button mat-raised-button color="primary" (click)="onBillCreate()">Create Bill</button>
</form>

<h2>Your bills</h2>
<div *ngFor="let bill of bills">
  <app-bill-item [bill]="bill"></app-bill-item>
</div>
